.shape {
  cursor: pointer;
}

.shape:hover {
  background-color: #f0f0f0;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.4), 0 0 0 1px rgba(10, 10, 10, .4);
}

.shape.selected {
  background-color: #ffdd57;
  box-shadow: none;
}

.shape.selected:hover {
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.4), 0 0 0 1px rgba(10, 10, 10, .4);
}
